<shared-header-footer-container>

    <section class="p-4 lg:p-2 lg:mx-auto lg:container my-10">
        <div class="my-6 text-center">
            <h1 class="uppercase font-bold text-3xl ">Tickets</h1>
            <p class="my-6 max-w-4xl mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nisi adipisci quae nam dolores amet. Officiis nisi, reprehenderit animi ipsum corporis accusantium aspernatur placeat, itaque quae reiciendis nulla totam hic.</p>        
        </div>

        <div class="flex justify-center">
            <!-- <prizes-container
                [prizes]="prizes"
            ></prizes-container> -->

            
            <ticket-container
                [ticketsPackages]="ticketsPackages"
            ></ticket-container>
            
        </div>
        
    </section>

</shared-header-footer-container>