<p-dialog
    [header]="title"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50rem' }"
    (onHide)="clearInputs()"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
    <div class="grid grid-cols-12 gap-4 mt-4">
        <div class="flex flex-col col-span-12 md:col-span-6">
            <label for="txtName" class="text-sm text-slate-500 font-medium mb-2">Item:</label>
            <p-select [options]="items" [(ngModel)]="prize.itemObj" 
                placeholder="Seleccione" optionLabel="itemName" class="w-full"
                (onChange)="priceSelected()" />
        </div>

        <div class="flex flex-col col-span-12 md:col-span-6">
            <label for="txtName" class="text-sm text-slate-500 font-medium mb-2">Costo item:</label>
            <p-inputnumber [(ngModel)]="prize.itemPrice" inputId="txtItemPrice" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [disabled]="true" />
        </div>

        <div class="flex flex-col col-span-12 md:col-span-6">
            <label for="txtName" class="text-sm text-slate-500 font-medium mb-2">Porcentaje de ganancia:</label>
            <p-inputnumber [(ngModel)]="prize.profitPercentage" inputId="txtProfitPercentage" suffix="%" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2"
                (ngModelChange)="calculateTotalIncProfit()" />
        </div>

        <div class="flex flex-col col-span-12 md:col-span-6">
            <label for="txtTotalIncProfit" class="text-sm text-slate-500 font-medium mb-2">Total:</label>
            <p-inputnumber [(ngModel)]="prize.totalIncProfit" inputId="txtTotalIncProfit" [disabled]="true" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" />
        </div>

        <div class="flex flex-col col-span-12 md:col-span-6">
            <label for="txtTicketPrice" class="text-sm text-slate-500 font-medium mb-2">Costo de ticket:</label>
            <p-inputnumber [(ngModel)]="prize.ticketPrice" inputId="txtTicketPrice" (ngModelChange)="calculateTotalTickets()" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" />
        </div>

        <div class="flex flex-col col-span-12 md:col-span-6">
            <label for="txtTicketsTotal" class="text-sm text-slate-500 font-medium mb-2">Tickets emitidos:</label>
            <p-inputnumber [(ngModel)]="prize.ticketsTotal" inputId="txtTicketsTotal" (ngModelChange)="calculateTicketPrice()" />
        </div>
       
        <div class="flex flex-col col-span-12 md:col-span-6">
            <label for="txtStartDateTime" class="text-sm text-slate-500 font-medium mb-2">Fecha y hora de inicio:</label>
            <p-datepicker [(ngModel)]="prize.startDateTime" [iconDisplay]="'input'" [showIcon]="true" 
                inputId="txtStartDateTime" styleClass="w-full" 
                placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" 
                [minDate]="minDate" appendTo="body" 
                [showTime]="true" [hourFormat]="'24'"  />
        </div>               
    </div>

    <div class="text-center my-4">
        <button class="rounded-xl  font-semibold shadow-lg bg-red-500 text-white px-4 py-1 transition duration-300 ease-in-out hover:bg-red-600 "
            [disabled]="dataIsInvalid()" (click)="createConfirm($event)" 
            [ngClass]="{'bg-slate-400 hover:bg-slate-400':dataIsInvalid()}">  
            {{mode === 'edit' ? 'Guardar' : 'Crear sorteo'}}
        </button>
    </div>
        
</p-dialog>
<p-confirmdialog />