<div class="shadow-md border border-zinc-300 p-4 pb-4 rounded-lg">
    <h1 class="text-lg font-semibold">Cambiar Contraseña</h1>
    <p class="text-sm text-zinc-400">Actualiza tu contraseña para mantener tu cuenta segura</p>

    <div class="my-4 mb-6 grid gap-2">
        <div class="grid">
            <label for="txtCurrentPassword" class="text-sm text-slate-500 font-medium mb-2">Contraseña actual:</label>
            <input type="password" id="txtCurrentPassword"  pInputText [(ngModel)]="passwordChange.currentPassword" />
        </div>
        <div class="grid">
            <label for="txtNewPassword" class="text-sm text-slate-500 font-medium mb-2">Nueva contraseña:</label>
            <input type="password" id="txtNewPassword"  pInputText [(ngModel)]="passwordChange.newPassword" />
        </div>
        <div class="grid">
            <label for="txtNewPasswordConfirmation" class="text-sm text-slate-500 font-medium mb-2">Confirmar nueva contraseña:</label>
            <input type="password" id="txtNewPasswordConfirmation"  pInputText [(ngModel)]="passwordChange.newPasswordConfirmation" />
        </div>
        <div class="text-left mt-2">
            <button class="rounded-lg  font-semibold shadow-lg bg-zinc-800 text-white px-4 py-1 transition duration-300 ease-in-out hover:opacity-80 ">  
                Cambiar contraseña
            </button>
        </div>
    </div>

    

</div>

<div class="shadow-md mt-6 border border-red-400 p-4 rounded-lg">
    <h3 class="text-red-500 font-semibold text-xl">Eliminar cuenta</h3>
    <p class="text-sm text-zinc-400">Esta acción es irreversible y no se puede deshacer.</p>
    <div class="mt-2">
        <button class="rounded-lg  font-semibold shadow-lg bg-red-600 text-white px-4 py-1 transition duration-300 ease-in-out hover:opacity-80">  
            Eliminar
        </button>
    </div>
</div>