<div class="bg-white shadow-sm border-b border-gray-200 sticky top-0 right-0 left-0">
      <div class="container mx-auto px-4 py-3">
        <div class="flex items-center justify-between">
          <!-- logo -->
          <div class="flex items-center cursor-pointer" routerLink="/">
            <div class="text-2xl font-bold text-red-500">
              Ticket<span class="text-red-600">Perú</span>
            </div>
          </div>

           <p-button (click)="visible = true"  styleClass="text-red-600 flex items-center font-semibold bg-transparent border-none  hover:opacity-75" >
                <span>Menú</span>
                <span class="pi pi-bars font-bold"></span>
            </p-button> 
        </div>
    </div>
</div>


<p-drawer [(visible)]="visible" #drawer position="right" >
    <ng-template #headless>
        <div class=" flex flex-col h-full p-4">
            <div>
                <div class="flex justify-between items-center font-semibold ">
                    <!-- {{getSalespersonName()}} -->
                    <h2 class="text-lg">Bienvenido(a) </h2>
                    <span class="pi pi-times-circle text-xl cursor-pointer hover:opacity-65"
                        (click)="closeSideBar($event)"
                    ></span>
                </div>
            </div>
            <hr class="my-3">    
            <div class="grow">
                <ul class="font-semibold flex flex-col">
            
                    <li routerLink="/admin/dashboard" (click)="closeSideBar($event)" routerLinkActive="bg-surface-200" class="cursor-pointer p-2 mb-1 rounded-border text-surface-700  hover:bg-surface-100 duration-150 transition-colors">
                        <i class="pi pi-chart-bar mr-2"></i> <span >Dashboard</span>
                    </li>
                    <hr class="my-3">
                    <li class="mb-1">
                        <span class="text-lg">Sorteos</span>
                        
                        <ul class="px-2">
                            <li routerLink="/admin/premios" (click)="closeSideBar($event)" routerLinkActive="bg-surface-200" class="cursor-pointer py-2 px-4 rounded-border text-surface-700  hover:bg-surface-100 duration-150 transition-colors">
                                <i class="pi pi-list  mr-2"></i> <span>Sorteos</span>
                            </li>
                            <li routerLink="/admin/items" (click)="closeSideBar($event)" routerLinkActive="bg-surface-200" class="cursor-pointer py-2 px-4 rounded-border text-surface-700  hover:bg-surface-100 duration-150 transition-colors">
                                <i class="pi pi-list mr-2"></i> <span>Items</span>
                            </li>                            
                        </ul>
                    </li>                   
                </ul>
                
            </div>

            <div>
                <hr class="my-4">
                <div
                    (click)="logout($event)"
                    class="px-4 py-2 flex items-center gap-2 cursor-pointer font-semibold justify bg-white text-red-600 rounded-md hover:opacity-70  duration-150 transition-colors p-ripple"
                >
                    <span class="pi pi-sign-out"></span>
                    <span>Cerrar sesión</span>
                </div>
            </div>
        </div>
    </ng-template>
          
</p-drawer>
