<div class="bg-black text-white">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row border-b border-gray-800">
      <!-- /* Logo */ -->
      <div class="flex-1 flex items-center justify-center md:justify-start p-8 md:border-r border-gray-800">
        <h2 class="text-3xl font-bold">
          <span class="block">Ticket</span>
          <span class="block">Perú</span>
        </h2>
      </div>

      <!-- /* Contáctanos */ -->
      <div class="flex-1 p-8 text-center md:text-left md:border-r border-gray-800">
        <h3 class="text-xl font-semibold mb-4">Contáctanos</h3>
        <ul class="space-y-2">
          <li>
            <a href="#" class="hover:text-gray-300">
              Soporte
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-gray-300">
              Contacto
            </a>
          </li>
          <li class="mt-4">
            <p class="font-semibold">Horario de atención</p>
            <p>Lunes a Viernes</p>
            <p>9:00 AM - 5:00 PM</p>
          </li>
        </ul>
      </div>

      <!-- /* Acerca de Nosotros */ -->
      <div class="flex-1 p-8 text-center md:text-left md:border-r border-gray-800">
        <h3 class="text-xl font-semibold mb-4">Acerca de Nosotros</h3>
        <ul class="space-y-2">
          <li>
            <a href="#" class="hover:text-gray-300">
              Términos y condiciones
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-gray-300">
              Política de privacidad
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-gray-300">
              Reglamento
            </a>
          </li>
        </ul>
      </div>

      <!-- Libro de reclamaciones  -->
      <div class="flex-1 p-8 flex flex-col items-center md:items-start justify-center">
        <div class="flex items-center justify-between w-full mb-2">
          <img src="./libro-reclamaciones.png" alt="Libro de Reclamaciones" class="w-10">
          <div>
            <span class="font-semibold">LIBRO DE RECLAMACIONES</span>
            <p>RUC: 20611347716</p>
            <p>HORIZONSOFT S.A.C.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- {/* Copyright */} -->
    <div class="py-4 text-center text-sm">
      <p>© 2025 HORIZONSOFT S.A.C.</p>
    </div>
  </div>
</div>