<shared-header-footer-container>
    
     <section class="container mx-auto my-10 px-4">
        <div class="my-6 text-center">
            <h1 class="uppercase font-bold text-3xl ">Ganadores Anteriores</h1>
            <p class="my-6 max-w-4xl mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nisi adipisci quae nam dolores amet. Officiis nisi, reprehenderit animi ipsum corporis accusantium aspernatur placeat, itaque quae reiciendis nulla totam hic.</p>        
        </div>

        <div class="flex justify-center">
            <winners-container
                [winners]="winners"
            ></winners-container>
        </div>
        
    </section>

</shared-header-footer-container>