<div class="shadow-md border border-zinc-300 p-4 pb-6 rounded-lg">
    <h1 class="text-lg font-semibold">Notificaciones</h1>
    <p class="text-sm text-zinc-400">Configura cómo quieres recibir las notificaciones</p>

    <div class="mt-2">
        @for (item of settings; track $index; let last = $last) {
            <div class="flex w-full justify-between items-center py-3">
                <div class="flex items-center gap-2 ">
                    <i class="text-zinc-500" [class]="item.icon"></i>
                    <label class="font-medium" [for]="item.config">{{item.label}}</label>
                </div>
                <p-toggleswitch [(ngModel)]="item.config" />
            </div>
            @if (!last) {
                <hr class="">
            }
        }
    </div>

</div>